html
    head
        title OJUSVA DANCE ACADEMY 
        block scripts
        block style
    body
        nav#navbar.top 
            ul
                div#logo 
                    | ODA
                    li #[a(href="/") Home]
                    li #[a(href="/about") About]
                    li #[a(href="/services") Services]
                    li #[a(href="/classinfo") ClassInfo]
                    li #[a(href="/contact") Contact Us] 
    block content
    footer#footer 
            | Copyright © 2022 OjusvaDanceAcademy.com | All rights reserved



